<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mary.mvichat">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_main"
        android:supportsRtl="true"
        android:name="com.mary.mvichat.ChatApp"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme">
        <activity android:name="com.mary.mvichat.presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>

</manifest>